# Игнорировать виртуальные среды
.venv/

# Игнорировать файлы Python
*.pyc

# Игнорировать временные файлы
__pycache__/

# Игнорировать данные
data/

# Игнорировать файлы IDE
.idea/
*.iml
*.ipynb_checkpoints/
*.log
# Игнорировать другие файлы
.DS_Store
Thumbs.db
.env